---
---
@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
    background: url(/assets/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.name {
    font-family: 'Raleway', sans-serif;
    color: rgb(158, 158, 158);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
