---
layout: default
---

<div class="artwork-wrapper">
    <header>
        <button class="toggle-button">MENU</button>
    </header>

    <div class="grid">
        {% for item in site.static_files %}
            {% if item.path contains 'artwork/thumbs' %}
                <div class="grid-item">
                    <button onclick="preview('{{ site.baseurl }}{{ item.path }}')">
                        <img src="{{ site.baseurl }}{{ item.path }}" alt="image" />
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
