<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.min.js"></script>

<script>
    var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
    })

    // Toggle button
    document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle()
    })
</script>

{% if page.url contains '/projects/' %}
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>

    <script>
        var masonry = new Masonry('.grid', {
            itemSelector: '.grid-item',
            fitWidth: true
        })
    </script>

    <script>
        /**
         * Previews an image fullscreen
         * @param {String} url
         */
        function preview (url)
        {
            var allPotentialPreviews = document.querySelectorAll('.preview');

            for (var i = 0; i < allPotentialPreviews.length; ++i) {
                var item = allPotentialPreviews[i];
                document.body.removeChild(item);
            }

            var url = url.split('.thumb.jpg')[0];
            url = url.split('thumbs/');

            var titleContent = url[1].split('.jpg')[0];

            url = url[0] + url[1];

            var preview = document.createElement('div');
            preview.className = 'preview';
            document.body.appendChild(preview);
            preview.style.opacity = 0;

            window.getComputedStyle(preview).opacity;

            preview.style.opacity = 1;

            var close = document.createElement('button');
            close.innerHTML = '×';
            close.onclick = function close() {
                document.body.removeChild(preview);
            };
            close.className = 'close-btn';
            preview.appendChild(close);

            var wrapper = document.createElement('div');
            wrapper.className = 'preview-image-wrapper';
            preview.appendChild(wrapper);

            var image = document.createElement('div');
            image.style.backgroundImage = 'url(' + url + ')';
            image.style.backgroundSize = 'cover';
            wrapper.appendChild(image);

            var title = document.createElement('div');
            title.className = 'title';
            title.innerHTML = titleContent;
            preview.appendChild(title);
        }
    </script>
{% endif %}
