.projects {
    background: url(/assets/projects.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 10%;
    width: 100%;
    height: 100%;

    text-align: center;

    .expo,
    .artwork {
        width: 300px;
        height: 200px;
        text-align: center;
        display: inline-block;
        border: 4px solid rgba(255, 255, 255, .9);
        transition: background .3s;
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: white;
        }

        &:hover {
            background: rgba(0, 0, 0, .15);
        }
    }

    .artwork {
        margin-left: 40px;
    }
}

.projects-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

.grid {
    margin: 0 auto;
    height: 100%;
    overflow: scroll;
    padding-top: 44px
}

.grid-item {
    padding: 10px;
}

.expo-wrapper,
.artwork-wrapper {
    background: #111;

    .toggle-button {
        color: white;
    }
}

.close-btn {
    position: absolute;
    top: 0;
    font-size: 44px;
    cursor: pointer;
    right: 20px;
    color: white;
}

.preview {
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    transition: opacity .4s;

    .title {
        display: inline-block;
        vertical-align: middle;
        color: white;
        padding: 20px;
    }

    .preview-image-wrapper {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        height: 100%;

        > div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%
        }
    }
}
